<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<remove name="WebDAV" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\PhysLIMS.API.exe" arguments=".\PhysLIMS.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<staticContent>
				<!-- Vue / 一般靜態檔 MIME -->
				<remove fileExtension=".js" />
				<mimeMap fileExtension=".js" mimeType="application/javascript" />
				<remove fileExtension=".mjs" />
				<mimeMap fileExtension=".mjs" mimeType="application/javascript" />
				<remove fileExtension=".json" />
				<mimeMap fileExtension=".json" mimeType="application/json" />
				<!-- Blazor WebAssembly 特殊檔案 MIME -->
				<remove fileExtension=".wasm" />
				<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
				<remove fileExtension=".dat" />
				<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
				<remove fileExtension=".blat" />
				<mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
				<remove fileExtension=".clat" />
				<mimeMap fileExtension=".clat" mimeType="application/octet-stream" />
				<remove fileExtension=".br" />
				<mimeMap fileExtension=".br" mimeType="application/brotli" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>